[submodule "NoisyMix"]
	path = NoisyMix
	url = https://github.com/georgsiedel/NoisyMix.git
[submodule "latent-diffusion"]
	path = latent-diffusion
	url = https://github.com/georgsiedel/latent-diffusion.git
[submodule "ImageNet-100-Pytorch"]
	path = ImageNet-100-Pytorch
	url = https://github.com/georgsiedel/ImageNet-100-Pytorch.git
[submodule "KITTI-distance-estimation"]
	path = KITTI-distance-estimation
	url = https://github.com/georgsiedel/KITTI-distance-estimation.git
